*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --header_sfondo: #ADD8E6;
    --header_nav: #DAA520;
    --first_sfondo: #00008B;
    --first_div: #EE82EE;
    --main_col: #1E90FF;
    --secondary_col: #FFC0CB;
    --secondary_sfondo: #D3D3D3;
    --big_div: #228B22;
    --last_col: #F08080;
    --bg_footer: #23272A;
    --footer_col: #20B2AA;
    --footer_button: #FFB6C1;
    --last_div: #7FFFD4;

}

header{
    background-color: var(--header_sfondo);
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.row_header{
    display: flex;
    padding: 0.5rem;
}
/* #region col */

.col_1{
    width: calc( (100% / 12) * 1);
}

.col_2{
    width: calc( (100% / 12) * 2);
}

.col_3{
    width: calc( (100% / 12) * 3);
}

.col_4{
    width: calc( (100% / 12) * 4);
}

.col_5{
    width: calc( (100% / 12) * 5);
}

.col_6{
    width: calc( (100% / 12) * 6);
}

.col_7{
    width: calc( (100% / 12) * 7);
}

.col_8{
    width: calc( (100% / 12) * 8);
}

.col_9{
    width: calc( (100% / 12) * 9);
}

.col_10{
    width: calc( (100% / 12) * 10);
}

.col_11{
    width: calc( (100% / 12) * 11);
}

.col_12{
    width: calc( (100% / 12) * 12);
}

/* #endregion col */

.link, .login, .logo{
    background-color: var(--header_nav);
    padding: 0.5rem;
    border: dashed black 2px;
}

#nav_link{
    text-align: center;
    background-color: var(--header_nav);
}

.login{
    text-align: right;
}


.logo{
    text-align: left;
}

.container_blue{
    background-color: var(--first_sfondo);
    display: flex;
}

.img_pink{
    background-color: var(--first_div);
    width: 55%;
    max-width: 1000px;
    margin: auto;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container_withe{
    background-color: white;

}

.row{
    display: flex;
}

.col_8 {
    background-color: var(--main_col);
    border: black dashed 2px;
}

.col_4{
    background-color: var(--secondary_col);
    border: black dashed 2px;
}

.blue, .rosa{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
}

.container_grey{
    background-color: var(--secondary_sfondo);
    display: flex;
}

.img_green{
    background-color: var(--big_div);
    width: 70%;
    margin: auto;
    height: 700px;
    margin-top: 2rem;
    max-width: 1200px;
    margin-bottom: 2rem;
}



.container_black{
    background-color: var(--bg_footer);
    border-bottom: solid white 1px;
    display: flex;
}

.pink{
    background-color: var(--last_col);
}

.light{
    background-color: var(--footer_col);
    border: dashed 2px white;
}

.pink, .light{
    height: 600px;
}

.last{
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.last_bar{
    width: 70%;
    background-color: var(--last_div);
    margin: auto;
    max-width: 1200px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.last_logo, .button{
    background-color: var(--footer_button);
    border: dashed 2px black;
    padding: 0.3rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}