*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: lightblue;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.row_header{
    display: flex;
    padding: 0.5rem;

}
/* #region col */

.col_1{
    width: calc( (100% / 12) * 1);
}

.col_2{
    width: calc( (100% / 12) * 2);
}

.col_3{
    width: calc( (100% / 12) * 3);
}

.col_4{
    width: calc( (100% / 12) * 4);
}

.col_5{
    width: calc( (100% / 12) * 5);
}

.col_6{
    width: calc( (100% / 12) * 6);
}

.col_7{
    width: calc( (100% / 12) * 7);
}

.col_8{
    width: calc( (100% / 12) * 8);
}

.col_9{
    width: calc( (100% / 12) * 9);
}

.col_10{
    width: calc( (100% / 12) * 10);
}

.col_11{
    width: calc( (100% / 12) * 11);
}

.col_12{
    width: calc( (100% / 12) * 12);
}

/* #endregion col */

.link, .login, .logo{
    background-color: orange;
    padding: 0.5rem;
    border: solid black 1px;
}

.link{
    text-align: center;
}

.login{
    text-align: right;
}


.logo{
    text-align: left;
}

.container_blue{
    background-color: blue;
    display: flex;
}

.img_pink{
    background-color: palevioletred;
    width: 55%;
    margin: auto;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container_withe{
    background-color: white;

}

.row{
    display: flex;
}

.col_8{
    background-color: blueviolet;
    border: black solid 1px;
}

.col_4{
    background-color: pink;
    border: black solid 1px;
}

.viola, .rosa{
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 400px;
}

.container_grey{
    background-color: lightgray;
    display: flex;
}

.img_green{
    background-color: green;
    width: 70%;
    margin: auto;
    height: 800px;
    margin-top: 2rem;
    max-width: 1200px;
    
}
